@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin, Dev")]
@rendermode InteractiveWebAssembly

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView Roles="Dev">
    Developer:
</AuthorizeView>

<AuthorizeView Roles="Admin">
    Admin:
</AuthorizeView>

<AuthorizeView>
    @context.User.Identity?.Name!
</AuthorizeView>